*{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.conteiner_tab{
    width: 1170px;
    height: 540px;
    border-left: 2px solid rgb(124, 120, 120);
    border-bottom: 2px solid rgb(124, 120, 120);  
}

.list_tab{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin: 0px;
    text-align: center;   
}

.tdl_1, .tdl_2, .tdl_3 {
    width: 200px;
    height: 40px;
    margin: 0px; 
    font-size: 16px;   
    padding: 10px;
}

.tdl_1{
    border-top: 2px solid  rgb(124, 120, 120);
    border-right: 2px solid  rgb(124, 120, 120);
    border-radius: 0px 5px 0px 0px;
}

.line_black{
    width: 970px;
    border: 1px solid rgb(124, 120, 120);
    margin-right: 0%;
}

.header_1{
    font-size: 30px;
    font-weight: 700;
    height: 125px;
    padding: 43px 0px;
}

.content_tab{
    float: left;
    margin-right: 28px;
    margin-left: 100px;
    
}

.text_1{
    width: 570px;
    font-size: 18px;
    display: block;
    line-height: 21px;
    font-weight: 400;
}

.down{
    width: 270px;
    height: 58px;
    border: #EC7979;
    background-color:#EC7979; 
    margin-top: 27px;
}

.image_1 img{
   width: 470px;
   height: 497px;
   border-right: 2px solid rgb(124, 120, 120);
  
}

/* Блок artikul*/

.conteiner {
    width: 1170px;
    height: 665px;
}

.header{
    width: 1170px;
    height: 150px;
}

.conteiner_header{
    font-weight: 400;
    font-size: 36px;
    text-align: center; 
    padding-top: 50px;    
}

.separator{
    border: 1px solid red;
    width: 170px;
   /* margin-left: auto;
    margin-right: auto;*/
}

.text{
    margin-top: 40px;
    margin-bottom: 110px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color:rgb(6, 1, 1, 0.5);
}

.list_article{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
 }
 
 .vector,.vector1,.vector2 {
    display: block;
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid red;
    border-radius: 50px;
    padding: 15px;    
 }
 
 .list-vector:not(:last-child) {
    margin-right: 30px;
 }

 .list-vector{
    text-align: center;
 }

 h2{
    font-size: 24px;
 }

 p{
    font-size: 18px;
    text-align: center;
 }

 /* Блок Pricing  */
 
 .conteiner_pricing{
    height: 900px; 
 }

 .header_price{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    padding: 50px 160px 50px 160px;  
 }

 .line_price{
    margin-top: 0px;
    border: 1px solid red;
    width: 170px;
 }

 .text_price{
    font-size: 18px;
    text-align: center;
    color: #322e2e2b;
    margin-top: 50px;
 }
 
.price_tarif{
    display: flex;
    justify-content: space-between;
}

 .list_tarif_basic,
 .list_tarif_optima,
 .list_tarif_Pro{
    list-style-type: none;
    display: block;
    width: 370px;
    text-align: center;
}

.list_tarif_basic,
.list_tarif_Pro{
    margin-top: 30px;
}

.list_basic1, .list_optima1, .list_Pro1{
    background-color: rgb(52, 50, 50);
    color: white;
    font-size: 18px;
    height: 60px;
    border: 1px solid;
    padding: 15px 0px;
}

.list_basic2, .list_optima2, .list_Pro2{
    background-color: rgb(52, 50, 50);
    color: white;
    font-size: 36px;
    height: 100px;
    border: 1px solid;
    padding: 21px 0px;
}

.list_basic3, .list_optima3, .list_Pro3{
    background-color: rgb(52, 50, 50);
    color: white;
    font-size: 18px;
    height: 50px;
    border: 1px solid;
    padding: 15px 0px;
}

.list_basic4, .list_basic5, .list_basic6, .list_basic7, .list_basic8, .list_basic9, 
.list_optima4, .list_optima5, .list_optima6, .list_optima7, .list_optima8, .list_optima9, 
.list_Pro4, .list_Pro5, .list_Pro6, .list_Pro7, .list_Pro8, .list_Pro9  {
    font-size: 18px;
    height: 50px;
    border: 1px solid rgb(115, 111, 111);
    padding: 15px 0px;
}


